/* basis */

html {
margin: 0;
padding: 0;
}

p {
	margin-top:0;
	text-align; justify;
	font: italic normal 1em georgia, sans-serif;
	color: blue;

	
}
h1 {
	font: italic normal 1.6em georgia, sans-serif;
	letter-spacing; 1px;
	margin-bottom: 0;
	color: #222222;
}

h2 {
		font: italic normal 1.3em georgia, sans-serif;
	letter-spacing; 1px;
	margin-bottom: 0;
	color: #222222;
}

h3 {
}

a:link {
}

a:visited{
}

a:hover, a:focus, a:active {
}

abbr {
}



